{
  "council": {
    "id": "01947a93-8372-7681-88c9-52a8b2d41666",
    "number": 1234,
    "name": "Example Council",
    "address": {
      "street": "123 Main St",
      "city": "Anytown",
      "state": "NY",
      "zipCode": "12345"
    },
    "parish": {
      "name": "Example Parish",
      "street": "123 Church St",
      "city": "Anytown",
      "state": "NY",
      "zipCode": "12345"
    },
    "meetingTimes": {
      "council": {
        "day": "Monday",
        "time": "7:00 PM",
        "frequency": "monthly"
      },
      "officers": {
        "day": "Monday",
        "time": "6:30 PM",
        "frequency": "monthly"
      }
    },
    "officers": [
      {
        "name": "Example Admin",
        "position": "Grand Knight",
        "termEnd": "2026-06-30",
        "email": "example.admin@example.com",
        "phone": "5551001001"
      },
      {
        "name": "David Deputy",
        "position": "Deputy Grand Knight",
        "termEnd": "2026-06-30",
        "email": "david.deputy@example.com",
        "phone": "5551001005"
      },
      {
        "name": "Stephen Secretary",
        "position": "Financial Secretary",
        "termEnd": "2026-06-30",
        "email": "stephen.fs@example.com",
        "phone": "5551001003"
      },
      {
        "name": "Michael Recorder",
        "position": "Recorder",
        "termEnd": "2026-06-30",
        "email": "michael.recorder@example.com",
        "phone": "5551001004"
      },
      {
        "name": "Robert Treasurer",
        "position": "Treasurer",
        "termEnd": "2026-06-30",
        "email": "robert.treasurer@example.com",
        "phone": "5551001002"
      },
      {
        "name": "James Warden",
        "position": "Warden",
        "termEnd": "2026-06-30",
        "email": "james.warden@example.com",
        "phone": "5551001006"
      }
    ]
  },
  "webmaster": {
    "membershipNumber": "1001001"
  },
  "permissions": {
    "sendCouncilEmail": ["1001001"],
    "managePermissions": ["1001001"],
    "manageEvents": ["1001001"],
    "manageGalleries": ["1001001"]
  }
}
