Membership Number,Prefix,First Name,Middle Name,Last Name,Suffix,Member Type,Member Class,Nickname,Residence Phone,Cell Phone,Primary Email,1st Degree Date,2nd Degree Date,3rd Degree Date,4th Degree Date,Assembly Number,Birth Date
0000000,,Example,,Member,,Member,Regular,,,,,,,,,,
